{%extends 'account/Base.html'%}

{% load i18n %}

{% load static %}

{% load account socialaccount %}

{%block content%}

<style>
    /* Inline CSS for better email client compatibility */
    .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0,.35);
    }
    h1 {
        color: #333;
    }
    p {
        color: #666;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
</style>
<br><br><br><br><br><br><br><br>
<div class="container">
    <h1>Email sent</h1>
    <p>reset password link has been sent to your email </p>
    <p>Please check your spam folder if email not found</p>
</div>
<br><br><br><br><br><br><br>
{%endblock%}